
*{
    margin: 0;
    padding: 0;
}
 @media (prefers-reduced-motion: no-preference) { 
    html {
     scroll-behavior: smooth;
     }
    }
body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.navbar{
 background: #00F260;  
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
background: linear-gradient(to right, #0575E6, #00F260); 
}
.carousel-item{
    height: 50vh;

}
.carousel h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(140, 0, 255);
}
.carousel p{
    color: white;
    font-size: larger;
    font-weight: bold;
}
.container h1{
    margin-left: 350px;
    color: green;
}
.container h2,p{
    display: inline-block;
    color: #c4302b;
}
.row a:hover{
    color: red !important;
}
.row img{
    height: 250px;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    border-spacing: 0 12px;
  }
  
  /* Create 7 equal columns that sits next to each other */
  .column {
     flex: 14.2%; 
    max-width: 14.2%;
    margin-left: 0%;
  }
  
  .column img {
    /* margin-top: 8px; */
    vertical-align: middle;
    width: 100%;
    height: 100%;
  } 
  .col a{
    font-size: 300px;
  }
.dis{
    font-size: small;
    font-weight: 500;
    color: rgb(76, 0, 255);
    
}
  
/* Style the Sticky icons on web page */   
.stickyicon-list {   
    position: fixed;
    width: 60px;
    left: 0;   
    top: 600px;   
    transform: translateY(-50%);             
    }         
    .stickyicon-list a {   
    display: block;   
    text-align: center;   
    padding: 8px;   
    transition: all 0.5s ease;   
    color: white;   
    font-size: 20px;   
    }         
    /* HOver affect on sticky social media icons */   
    .stickyicon-list a:hover {   
    color: #000;   
    width:10px;   
    }   
       
    /* Now we have to design each icon of social media */         
    .facebook {   
    background: #3b5998;   
    color: white;  
    }         
    .twitter {   
    color: white;   
    background: #00acee;   
    }   
    .linkedin {   
    background: #0e76a8;   
    color: white;   
    }         
    .google {   
    color: white;   
    background: #db4a39;   
    }   
    .instagram {   
    background: #3f729b;   
    color: white;   
    }         
    .youtube {   
    color: white;   
    background: #c4302b;    
    }  
   .pull-right a:hover{
    color: red;
   }
   .pull-right{
    margin-top: 150px;
    margin-left: 700px;
    
   }
footer{
    color:black;
    height: 1.5em;
    margin-top: 20%;
    text-align: center;
    font-weight: bolder;

}